<img src="./unal.png" align=center width="150" height="150"></img>

<h2 align="center">CARGAR DATOS</h2>

Lo primero que habrá que hacer es guardar los datos en nuestro directorio de trabajo, se puede comprobar cuál es mediante el comando **os.getcwd()**. Si se necesita cambiar, se debe usar el comando **chdir()** y especificar la ruta por medio del uso de “\” dobles.

---

#### 1. Cargar los ficheros CSV usando el módulo CSV de la librería estándar de Python

Primero lo “abrimos” con la función open(). Después, usamos la función, csv.reader(), que lee línea a línea el fichero, y hace una lista de todas las columnas en el objeto reader.

In [1]:
import os
os.chdir("C:\\Users")
os.getcwd()

'C:\\Users'

In [7]:
import csv
f= open("employee_data.csv")
reader = csv.reader(f);type(reader)
#for row in reader:
#    print (row)           #se demora muchisimo

_csv.reader

---
#### 2. Cargar los ficheros CSV usando Pandas

In [8]:
import pandas
filename = 'Hitters.csv'
data = pandas.read_csv(filename, header=0)

print(data.shape)
print (data.head(10))

(322, 20)
   AtBat  Hits  HmRun  Runs  RBI  Walks  Years  CAtBat  CHits  CHmRun  CRuns  \
0    293    66      1    30   29     14      1     293     66       1     30
1    315    81      7    24   38     39     14    3449    835      69    321
2    479   130     18    66   72     76      3    1624    457      63    224
3    496   141     20    65   78     37     11    5628   1575     225    828
4    321    87     10    39   42     30      2     396    101      12     48
5    594   169      4    74   51     35     11    4408   1133      19    501
6    185    37      1    23    8     21      2     214     42       1     30
7    298    73      0    24   24      7      3     509    108       0     41
8    323    81      6    26   32      8      2     341     86       6     32
9    401    92     17    49   66     65     13    5206   1332     253    784

   CRBI  CWalks League Division  PutOuts  Assists  Errors  Salary NewLeague
0    29      14      A        E      446       33      20     NaN         A
1   414     375      N        W      632       43      10   475.0         N
2   266     263      A        W      880       82      14   480.0         A
3   838     354      N        E      200       11       3   500.0         N
4    46      33      N        E      805       40       4    91.5         N
5   336     194      A        W      282      421      25   750.0         A
6     9      24      N        E       76      127       7    70.0         A
7    37      12      A        W      121      283       9   100.0         A
8    34       8      N        W      143      290      19    75.0         N
9   890     866      A        E        0        0       0  1100.0         A

---
#### 3. Cargar los ficheros desde la URL

In [10]:
import pandas
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
data = pandas.read_csv(url)
print(data)

# En Pandas, el modificador tail nos ofrece una vista de los datos mucho más atractiva
# Ver final
data.tail()

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

----
#### 4 “Toy datasets” en las librerías.

In [13]:
import seaborn as sns
sns.get_dataset_names()

C:\Users\YULY\anaconda\envs\t2\lib\site-packages\seaborn\utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\Users\YULY\anaconda\envs\t2\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="html.parser"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'iris',
 'mpg',
 'planets',
 'tips',
 'titanic']



Cargar los en un dataset pandas es muy sencillo con la función **load.dataset()**

In [14]:
df_planets = sns.load_dataset('planets')
df_planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

---
#### 6. Cargar ficheros de pruebas desde librerías (skylearn, etc)

Cargar los en un dataset https://scikit-learn.org/stable/datasets/index.html

In [33]:
from sklearn.datasets import load_boston

boston = load_boston()
data = boston.data
column_names = boston.feature_names 


import pandas as pd
df = pd.DataFrame(data,columns=column_names) 
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

---
#### 7. Cargar ficheros de pruebas desde la librería (statsmodels)

Cargar los en un dataset https://www.statsmodels.org/devel/datasets/index.html

In [38]:
import statsmodels.api as sm #Cargamos la librería
nile = sm.datasets.nile #Elegimos el dataset sobre las crecidas del Nilo

print(nile.DESCRLONG) #Para ver la descripción y características del dataset
print(nile.NOTE)
sm.datasets.nile.load_pandas().data #Cargamos el dataset en un dataframe de pandas

This dataset contains measurements on the annual flow of
the Nile as measured at Ashwan for 100 years from 1871-1970. There is an apparent changepoint near 1898.
::

    Number of observations: 100
    Number of variables: 2
    Variable name definitions:

        year - the year of the observations
        volumne - the discharge at Aswan in 10^8, m^3

      year  volume
0   1871.0  1120.0
1   1872.0  1160.0
2   1873.0   963.0
3   1874.0  1210.0
4   1875.0  1160.0
..     ...     ...
95  1966.0   746.0
96  1967.0   919.0
97  1968.0   718.0
98  1969.0   714.0
99  1970.0   740.0

[100 rows x 2 columns]